<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aws">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AWS"
        android:icon="@drawable/fcaitr">


        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".MainActivity"/>
        <activity android:name=".StudentHomeActivity" />
        <activity android:name=".InstructorHomeActivity" />
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".CoursesActivity"/>
        <activity android:name=".CourseDetailActivity"/>
        <activity android:name=".MarkAttendanceActivity" />
        <activity android:name=".activities.InstructorClassesActivity" />





    </application>

</manifest>
